html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.loginSignupSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.loginSignup {
    display: flex;
    flex-direction: column;
    width: 25vw;
    justify-content: center;
    gap: 10px;
    min-width: 250px;
}
input {
    padding: 5px;
}
button, .button {
    background-color: rgb(8, 8, 132);
    cursor: pointer;
    border: none;
    font-weight: bolder;
    color: rgb(234, 138, 138);
    font-size: medium;
    border-radius: 5px;
    padding: 10px;
}
button:hover, .button:hover {
    background-color: rgb(5, 5, 84);;
}